.lq-game-settings {
    width:100%;
    height:100%;
    background-image: url("/static/image/menu/background.jpg");
    background-size: 100% 100%;
    user-select: none;
}

.lq-game-settings-login {
    height: 41vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.lq-game-settings-title {
    color: white;
    font-size: 3vh;
    text-align: center;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

.lq-game-settings-username {
    display: block;
    height: 7vh;
}

.lq-game-settings-password {
    display: block;
    height: 7vh;
}

.lq-game-settings-submit {
    display: block;
    height: 7vh;
}

.lq-game-settings-acwing {
    display: block;
    height: 7vh;
}

.lq-game-settings-item {
    width: 100%;
    height: 100%;
}

.lq-game-settings-item > input {
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lq-game-settings-item > button {
    color: white;
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    border-radius: 5px;
}

.lq-game-settings-error-message {
    color: red;
    font-size: 0.8vh;
    display: inline;
    float: left;
    padding-left: 1vw;
}

.lq-game-settings-option {
    color: white;
    font-size: 2vh;
    display: inline;
    float: right;
    padding-right: 1vw;
    cursor: pointer;
}

.lq-game-settings-acwing > img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
}

.lq-game-settings-acwing > div {
    color: white;
    font-size: 1.5vh;
    text-align: center;
    display: block;
}

.lq-game-settings-register {
    height: 49vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}


.lq-game-menu {
    width:100%;
    height:100%;
    background-image: url("/static/image/menu/background.jpg");
    background-size: 100% 100%;
    user-select: none;
}

.lq-game-menu-title {
    width: 75vw;
    position: relative;
    top: 5vh;
    left: 7vw;
    font-size: 5vh;
    font-family: YouYuan;
    color: ffdde1; 
    font-weight: 1000;

}

.lq-game-menu-field {
    width: 20vw;
    position: relative;
    top: 17vh;
    left: 9vw;
    text-align: center;
}

.lq-game-menu-field-item {
    margin: 25px;
    color: white;
    width: 18vw;
    height: 7vh;
    font-size: 5vh;
    font-style: italic;
    padding: 3vh;
    text-align: center;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 25px;
    letter-spacing: 0.5vw;
    cursor: pointer;

}

.lq-game-menu-field-item:hover {
    transform:scale(1.2);
    transition: 100ms;
}

.lq-game-playground {
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: grey;

}

.lq-game-playground > canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.lq-game-chat-field-history {
    position: absolute;
    top: 66%;
    left: 20%;

    transform: translate(-50%, -50%);

    width: 20%;
    height:32%;

    color: white;
    font-size: 2vh;

    padding: 5px;
    overflow: auto;
}

.lq-game-chat-field-history::webkit-scrollbar {
    width: 0;
}

.lq-game-chat-field-input {
    position: absolute;
    top: 86%;
    left: 20%;
    transform: translate(-50%, -50%);

    width: 20%;
    height: 3vh;

    color: white;
    font-size: 2vh;

    background-color: rgba(222, 225, 230, 0.2);
}

.lq-game-menu-instruction {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20%;
    height: 3vh;

    color: white;
    font-size: 2vh;

    background-color: rgba(222, 225, 230, 0.2);
}
