body
{
    margin: 0;
    padding: 0%;
    background-image: url(../img/bgimg.jpg);
    background-repeat: no-repeat;
}

#bigBox
{
    margin:0 auto;
    margin-top: 200px;
    padding:20px 50px;
    background-color: #00000090;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
}

#bigBox h1
{
    color: white;
}

#bigBox .inputBox .inputText
{
    margin-top: 20px;
}

#bigBox .inputBox .inputText input
{
    border:0;
    padding: 10px 10px;
    border-bottom: 1px solid white;
    background-color: #00000000;
}

#bigBox .inputBox .inputText
{
    border: 0;
    width: 150px;
    height: 25px;
    color: white;
    margin-top: 30px;
    border-radius: 20px;
}